body{
	background: #f4f5f7;
}
#app{height: 100%;}
.top_nav{
	height: 80px;width: 100%;
	background:url('../../images/nav_bg.png');
	font-size: 0;
	position: relative;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;
}
.top_nav>div>a{
	display: inline-block;
	position: absolute;
	left: -10px;top: 50%;
	transform: translateY(-50%);
}
.top_nav span:nth-of-type(1){
	font-size: 24px;
	color: rgba(255,255,255,0.8);
	position:absolute;
	left: 130px;top: 50%;
	transform: translateY(-50%);
	border-left: 1px solid #aaa;
	padding-left: 15px;
	font-weight: normal;
}
.top_nav span:nth-of-type(2){
	font-size: 14px;
	position:absolute;
	right:-10px;top: 50%;
	transform: translateY(-50%);
	border: 1px solid #999898;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	border-radius: 2px;
}
.top_nav span>a{
	display: block;
	padding:0 12px; ;height: 30px;
	line-height: 30px;
	color: #999898;
}
.top_nav span:nth-of-type(2):hover{border-color: #d9d9d9;}
.top_nav a img{width: 120px;display: inline-block;}

.loginIn_Con{
	width: 100%;
	padding-top: 60px;
	position: relative;
	min-height: 480px;
	box-sizing: border-box;
}
.loginIn_Con>img{
	margin-left: 50px;
	width: 700px;
}
.loginIn_Con>div{
	box-sizing: border-box;
	padding-top: 80px;
	position: absolute;
	right: 10px;top: 60px;
	background: white;
	min-width: 500px;
	/*height: 100%;*/
	border-radius: 10px;
}

.loginIn_Con>div .loginIn_Form{font-size: 0;}
.loginIn_Con>div .loginIn_Form li{overflow: hidden;margin-bottom: 28px;position: relative;}
.loginIn_Con>div .loginIn_Form label{
	display: block;
    float: left;
    height: 42px;
    width: 65px;
    margin-right: 20px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
    text-align: right
}
.loginIn_Con>div .loginIn_Form input[type="text"],.loginIn_Con>div .loginIn_Form input[type="password"]{
	display: block;
    position: relative;
    float: left;
    height: 20px;
    width: 260px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
}
.loginIn_Con>div .loginIn_Form li>span{
	font-size: 14px;line-height: 42px;
	height: 42px;width: 30px;
	display: inline-block;
	color: #666;
    font-weight: 700;
    padding: 0 12px;
}
.loginIn_Con>div .loginIn_Form li>strong{color: red;font-size: 12px;}
.loginIn_Con>div .loginIn_Form li:last-child span{
	display: block;
	width: 260px;height: 50px;
	margin-left: 85px;
	font-size: 18px;line-height: 50px;
	color: white;
	font-weight: 700;
	cursor: pointer;
    color: #fff;
	border-radius: 3px;
	background: #f12d35;text-align: center;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;
}
.loginIn_Con>div .loginIn_Form .loginIn_rule>span{width: 400px;font-weight: 500;margin-left: 95px; }
.loginIn_Con>div .loginIn_Form .loginIn_rule>span>a{color: #6d9eeb}
.loginIn_Con>div .loginIn_Form .loginIn_rule>span>a:hover{text-decoration: underline;}
.loginIn_Con>div .loginIn_Form .loginIn_rule>input{margin-left: 85px; position: absolute;top: 50%;transform: translateY(-50%);}
